<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211656884201-m326g5n79knj2rr36n1q5q7kgc17u8es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211656884201-m326g5n79knj2rr36n1q5q7kgc17u8es</string>
	<key>API_KEY</key>
	<string>AIzaSyAfq1OmXU-lDPdxsq8uK07qyUfyYqa_TZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>211656884201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taisei.homelax-ultra</string>
	<key>PROJECT_ID</key>
	<string>homelax-ultimate</string>
	<key>STORAGE_BUCKET</key>
	<string>homelax-ultimate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211656884201:ios:66cded0b73beba1edd9578</string>
</dict>
</plist>